page-menu {
//Background image
.bg-image {
    background-image: url('../../assets/imgs/menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  //No scroll
  .no-scroll .scroll-content {
      overflow: hidden;
  }
}
